{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="Legit Crew, https://www.devme.com/">
    <title>{% if obj.site_name %} {{obj.site_name}}  {% else %} {{site_name}} {% endif %} | {{title}}</title>
    <meta name="description" content="{{obj.description}}">
    <meta name="author" content="{{designer_name}}">
    <meta name="theme-color" content="{{obj.theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{obj.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{obj.theme_color}}">
    <meta name="keywords" content="{{obj.key_words}}">
    <meta property="og:site_name" content="{{obj.site_name}}">
    <meta property="og:url" content="{{obj.site_url}}">
    <meta http-equiv="Content-type" content="text/html;charset:utf-8">
    <meta property="og:type" content="website"> 
    <meta property="og:type" content="website"> 
    <meta property="twitter:site" content="https://twitter.com/Kevin36285655">
    <meta property="twitter:title" content="@Kevin36285655">
    <meta property="twitter:image" content="https://twitter.com/Kevin36285655/photo">
    <meta property="twitter:description" content="Life's Simple.">
    <meta property="twitter:text:title" content="Life's Simple.">
    <meta property="og:title" content="{{obj.site_name}} | {{title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{obj.description}}">
    <meta property="og:image" content="{% static 'manager/images/icon/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="{{obj.site_name}}">
    <meta name="application-name" content="{{obj.site_name}}">
    <meta name="msapplication-TileColor" content="{{obj.theme_color}}">
    <meta name="msapplication-config" content="{% static 'manager/assets/images/logos/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="{% static 'manager/images/icon/favicon.ico' %}" type="image/x-icon">
    <link rel="mask-icon" href="{% static 'manager/assets/images/logos/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="manifest" href="{% static 'manager/assets/images/logos/site.html' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/css/font-awesome.min.css' %}">
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/css/animate.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="{% static 'manager/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/css/custom.css' %}"> 
    <link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/responsive.css' %}">
    <style>
       .customclass li p a
        {
            color: #7c7e84;
            transition: all 500ms ease;
        }
        .customclass li p a:hover
        {
            color: #ffffff;
        }
        .main-menu .navigation > li > a
        {
            position: relative;
            display: block;
            color: #27282c !important; 
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            text-transform: uppercase;
            opacity: 1;
            padding: 39px 0px 37px;
            transition: all 300ms ease;
            font-family: 'Rubik', sans-serif;
        }
        
        .mrf-news
        {
            height:400px;
            overflow-y:scroll;
        }
        ::-webkit-scrollbar
        {
            width:12px;
        }
        ::-webkit-scrollbar-track
        {
           -webkit-box-shadow: inset 0 0 6px red;
            border-radius:10px;  
        }
        ::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px red;
            border-radius:10px;
        }
        .vehiclesList::-webkit-scrollbar
        {
            width:12px;
            height:12px; 
        }
        .mrf-news::-webkit-scrollbar
        {
            width:12px;
        }
        .mrf-news::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px red;
            border-radius:10px;
        } 
        .mrf-news::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px red;
            border-radius:10px;
        }
        strong
        {
            color: #ff0000;
        }

    </style>
</head>

<body >
    <div class="boxed_wrapper">
        <div class="preloader"></div>
        <!-- Start Top Bar style1 -->
        <section class="top-bar-style1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="top-style1 clearfix">
                            <p>{{obj.site_name}}, Basesd On {{obj.location}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Top Bar style1 -->

        <!--Start Main Header-->
        <header class="main-header header-style1">

            <div class="header-upper-style1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-container clearfix">
                                <div class="logo-box-style1 float-left">
                                    <a href="{% url 'dashboard' %}">
                                        <img src="{% static 'manager/images/icon/preloader.gif' %}" data-src="{% static 'manager/images/icon/mrf-logo.png' %}" alt="{{obj.site_name}} Logo" style="height: 50px" title="{{obj.site_name}} Logo">
                                    </a>
                                </div>
                                <div class="main-menu-box float-right">
                                    <nav class="main-menu clearfix">
                                        <div class="navbar-header clearfix">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        </div>
                                        <div class="navbar-collapse collapse clearfix">
                                            <ul class="navigation clearfix">
                                                <li class="dropdown current"><a href="{% url 'dashboard' %}">Home</a>
                                                </li>
                                                <li class="dropdown"><a href="about.html">Who are we</a>
                                                    <ul>
                                                        <li><a href="#">Overview</a></li>
                                                        <li><a href="#">Milestones</a></li>
                                                        <li><a href="#">Awards And Archievements</a></li>
                                                        <li><a href="#">Research And Designs</a></li>
                                                        <li><a href="#">Carriers</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="services.html">What we do</a>
                                                    <ul>
                                                        <li><a href="#">Products</a></li>
                                                        <li><a href="#">International Business</a></li>
                                                        <li><a href="#">Bisiness Opportunities</a></li>
                                                        <li><a href="#">Warranty Policy</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="project.html">Our passion</a>
                                                    <ul>
                                                        <li><a href="project.html">Motor sports</a></li>
                                                        <li><a href="project-v2.html">Pace foundation</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="blog.html">Investor relations</a>
                                                    <ul>
                                                        <li><a href="blog.html">Financial results</a></li>
                                                        <li><a href="blog-v2.html">Stock info</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="shop.html">Media center</a>
                                                    <ul>
                                                        <li><a href="shop.html">MRF in the news</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-lower-style1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <ul class="header-contact-info float-left">
                                    <li class="pb-md-0 pb-3 ">
                                        <div class="single-item">
                                            <div class="icon">
                                                <span class="icon-maps-and-location"></span>
                                            </div>
                                            <div class="text">
                                                <h3>{{obj.location}}</h3>
                                                <p class="text-truncate">Site address</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li  class="pb-md-0 pb-3 ">
                                        <div class="single-item">
                                            <div class="icon">
                                                <span class="icon-phone"></span>
                                            </div>
                                            <div class="text">
                                                <h3>{{obj.phone}}</h3>
                                                <p>{{obj.working_days}}: {{obj.working_hours}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li  class="pb-md-0 pb-3 ">
                                        <div class="single-item">
                                            <div class="icon">
                                                <span class="icon-mail"></span>
                                            </div>
                                            <div class="text">
                                                <h3>{{obj.site_email}}</h3>
                                                <p>Get in touch with us</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="mt-md-2 header-social-links-style1 float-md-right float-left">
                                    <li class="text-md-right float-left wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                                        <a href="{{obj.facebook}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="text-md-right float-left wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <a href="{obj.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="text-md-right text-center wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <a href="{{obj.linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <a href="{{obj.youtube}}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    </li>
                                    <li class=" wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <a href="{{obj.instagram}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header-->
        {% block body %}

        {% endblock %}
         <!--Start footer area-->
        <footer class="footer-area">
            <div class="footer-shape-bg wow slideInRight" data-wow-delay="300ms" data-wow-duration="2500ms"></div>
            <div class="container">
                <div class="row">
                    <!--Start single footer widget-->
                    <div class="mb-md-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-footer-widget marbtm50">
                            <div class="contact-info-box">
                                <div class="text-md-left text-center footer-logo">
                                    <a href="{% url 'dashboard' %}">
                                        <img src="{% static 'manager/images/icon/loader.gif' %}" data-src="{% static 'manager/images/icon/mrf-logo.png' %}" alt="{{obj.site_name}} Logo" title="{{obj.site_name}} Logo">
                                    </a>
                                </div>
                                <ul class="customclass">
                                    <li>
                                        <h6>Address</h6>
                                        <p>{{obj.address}}</p>
                                    </li>
                                    <li>
                                        <h6>Phone</h6>
                                        <p><a href="tel:{{obj.phone}}">{{obj.phone}}</a><br> <span>{{obj.working_days}}:</span> {{obj.working_hours}}</p>
                                    </li>
                                    <li>
                                        <h6>Email</h6>
                                        <p><a href="mailto:{{obj.site_email}}">{{obj.site_email}}</a><br>
                                            <a href="mailto:{{obj.site_email2}}">{{obj.site_email2}}</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="mt-md-3 col-xl-3 col-lg-6 col-md-6 col-sm-12" style="margin-top:20px">
                        <div class="single-footer-widget marbtm50">
                            <div class="title">
                                <h3>Who are we</h3>
                            </div>
                            <div class="services-links">
                                <ul>
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="#">Milestones</a></li>
                                    <li><a href="#">Awards And Archievements</a></li>
                                    <li><a href="#">Research And Designs</a></li>
                                    <li><a href="#">Carriers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mt-md-3 col-xl-3 col-lg-6 col-md-6 col-sm-12" style="margin-top:20px">
                        <div class="single-footer-widget marbtm50">
                            <div class="title">
                                <h3>What we do</h3>
                            </div>
                            <div class="services-links">
                                <ul>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">International Business</a></li>
                                    <li><a href="#">Bisiness Opportunities</a></li>
                                    <li><a href="#">Warranty Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" style="margin-top:20px">
                        <div class="single-footer-widget pdbtm50">
                            <div class="title">
                                <h3>MRF News</h3>
                            </div>
                            <ul class="recent-news">
                                <li>
                                    <div class="img-holder">
                                        <img src="{% static 'manager/images/icon/loader.gif' %}" data-src="{% static 'manager/images/footer/recent-news-1.jpg' %}" alt="Awesome Image">
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="project-single.html"><span class="icon-next"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <p>March 10, 2019</p>
                                        <h5><a href="#">Creating drama and<br> feeling with...</a></h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder">
                                        <img src="{% static 'manager/images/icon/loader.gif' %}" data-src="{% static 'manager/images/footer/recent-news-2.jpg' %}" alt="Awesome Image">
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="project-single.html"><span class="icon-next"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <p>March 02, 2019</p>
                                        <h5><a href="#">Wondering if interior<br> design is dying...</a></h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder">
                                        <img src="{% static 'manager/images/icon/loader.gif' %}" data-src="{% static 'manager/images/footer/recent-news-3.jpg' %}" alt="Awesome Image">
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="project-single.html"><span class="icon-next"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <p>February 27, 2019</p>
                                        <h5><a href="#">Enjoy monsoon in<br> comfort of your...</a></h5>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End footer area-->

        <!--Start footer bottom area-->
        <section class="footer-bottom-area fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="footer-bottom-content flex-box-two">
                            <div class="copyright-text">
                                <p>&copy {% now 'Y' %} Designed and coded by <a href="{{designer_link}}" target="_blank">{{designer_name}}</a></p>
                            </div>
                            <div class="footer-social-links float-md-right float-center">
                                <span>We are On:</span>
                                <ul class="sociallinks-style-one">
                                    <li class="wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                                        <a href="{{obj.facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                        <a href="{{obj.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <a href="{{obj.instagram}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <a href="{{obj.linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End footer bottom area-->
    </div>
    <script src="{% static 'manager/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'manager/js/wow.js' %}"></script>
    <script src="{% static 'manager/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'manager/js/appear.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'manager/js/isotope.js' %}"></script>
    <script src="{% static 'manager/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'manager/js/jquery.countTo.js' %}"></script>
    <script src="{% static 'manager/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.enllax.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'manager/js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'manager/js/jquery.paroller.min.js' %}"></script>
    <script src="{% static 'manager/js/owl.js' %}"></script>
    <script src="{% static 'manager/js/validation.js' %}"></script>
    <script src="{% static 'manager/js/map-helper.js' %}"></script>
    <script src="{% static 'manager/assets/language-switcher/jquery.polyglot.language.switcher.js' %}"></script>
    <script src="{% static 'manager/assets/timepicker/timePicker.js' %}"></script>
    <script src="{% static 'manager/assets/html5lightbox/html5lightbox.js' %}"></script>

    <!--Revolution Slider-->
    <script src="{% static 'manager/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'manager/js/main-slider-script.js' %}"></script>
    <script src="{% static 'manager/js/custom.js' %}"></script>
    <script src="{% static 'manager/js/script.js' %}"></script>
    <script>
       
    </script>
</body>
</html>